/* Removendo item específico do small device */
nav .small {
    display: none;
}
 nav li {
    margin: 25px;
    transition: 0.3s;
}

/* Header */
header li div {
    font-size: 23px;
}

/* Body */
/* ========= HOME ========= */
.wrapper_home .main-logo {
    width: 30%;
}
.wrapper_home {
    background-size: 350px, 400px;
}
.wrapper_home .locate-button {
    font-size: 26px;
}
.wrapper_home button img{
    height: 26px;
}
/* ========= LOGIN ========= */
.main_login{
    display: flex;
    margin: 100px 0;
}
.wrapper_login {
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 700px;
}
.wrapper_login .logo-box {
    height: 100%;
    width: 500px;
    background-color: var(--verde1);
    display: flex;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
}
.wrapper_login .logo-box img {
    width: 400px;
    height: 220px;
}
.wrapper_login form {
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 0 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.wrapper_login .form_login h1 {
    margin-top: 100px;
}
.wrapper_login form h1 {
    margin-top: 20px;
}
.wrapper_login input, .wrapper_login .manterLogado {
    width: 380px;
}

/* ========= PERFIL ========= */
.main_perfil{
    display: flex;
    margin: 100px 0;
}
.wrapper_perfil {
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 600px;
}
.wrapper_perfil .info_side {
    height: 100%;
    width: 500px;
    background-color: var(--verde1);
    display: flex;
    margin: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
}
.wrapper_login .options_side {
    width: 400px;
    height: 100%;
    margin: 0;
    padding: 0 50px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer */
.footer_col1 {
    width: 200px;
    margin: auto;
}
.footer_col1 img {
    width: 200px;
}
.social_medias img {
    width: 30px;
}
.footer_col2 {
    width: 300px;
}