/* Removendo item específico do small device */
nav .small {
    display: none;
}

/* Header */
header li div {
    font-size: 20px;
}

/* ========= HOME ========= */
/* Body */
.wrapper_home .main-logo {
    width: 40%;
}
.wrapper_home {
    background-size: 250px, 300px;
}
.wrapper_home button {
    font-size: 23px;
}
.wrapper_home button img{
    height: 22px;
}

/* Footer */
.footer_col1 {
    width: 200px;
    margin: auto;
}
.footer_col1 img {
    width: 200px;
}
.social_medias img {
    width: 30px;
}
.footer_col2 {
    width: 300px;
}
/* ========= LOGIN ========= */
.wrapper_login .logo-box {
    width: 40%;
}
.wrapper_login h1{
    font-size: 28px
}
.wrapper_login p {
    font-size: 20px;
}
.wrapper_login input, .wrapper_login .manterLogado {
    width: 450px;
    padding: 10px 10px;
}
.wrapper_login input::placeholder {
    font-size: 16px;
}
.wrapper_login button {
    font-size: 25px;
}

/* ========= PERFIL ========= */
.wrapper_perfil .info_side > img {
    width: 300px;
    top: 105px;
}
.wrapper_perfil h2 {
    margin-top: 155px;
    font-size: 30px;
}
.wrapper_perfil .btn {
    font-size: 18px;
    width: 250px;
}
.wrapper_perfil .options_side > button {
    font-size: 20px;
}

/* ========= QUEM SOMOS ========= */
.main_quemSomos h1 {
    font-size: 50px;
}
.wrapper_quemSomos > h2 {
    font-size: 30px;
}
.wrapper_quemSomos > p {
    font-size: 22px;
}
.wrapper_quemSomos .membro .info {
    width: 270px;
}
.wrapper_quemSomos .membro > img {
    width: 150px;
    height: 150px;
}
.wrapper_quemSomos .membro h3{
    font-size: 22px;
}
.wrapper_quemSomos .membro p {
    font-size: 19px;
}
.wrapper_quemSomos .membro .social_medias_membros img {
    width: 25px;
    margin-top: 5px;
}
.wrapper_quemSomos .membro a {
    font-size: 16px;
}

/* Corrigindo alinhamento do menu em largura específica */
@media (max-width: 800px){
    nav img {
        margin-right: 7px;
        transition: 0.3s;
     }
     nav li{
        margin: 7px;
        transition: 0.3s;
     }
     header li div{
        font-size: 20px;
    }
}
@media (max-width: 720px){
    nav img {
        margin-right: 2px;
        transition: 0.3s;
     }
     nav li{
        margin: 2px;
        transition: 0.3s;
     }
     header li div{
        font-size: 16px;
    }
}
