/* Importando a fonte ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Importando a fonte MUSEOMODERNO */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Default */
* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'MuseoModerno';
}
:root {
    --verde1: #19908D;
    --verde2: #126C6A;
    --verde3: #0C4847;
    --amarelo1: #ECC94B;
    --amarelo2: #FFB347;
    --azul1: #B9F2FF;
    --azul2: #A1D9E8;
}

/* Cabeçalho */
header {
    height: 55px;
    background-color: var(--verde2);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 20px 10px; 
    overflow: hidden;
}
.logo {
    width: 30vw;
    height: 100%;
    cursor: pointer;
    overflow-x: visible;
}
.logo > img {
    height: 100%;
}
nav {
    flex: 1;
}
nav ul {
    display: flex; 
    justify-content: center; 
}
nav label {
    display: none;
}
nav li {
    margin: 0 15px; 
    white-space: nowrap;
    transition: 0.3s;
}
nav img {
   margin-right: 10px;
   transition: 0.3s;
   height: 25px;
}
nav div {
    color: var(--azul1);
    font-size: 20px;
    font-weight: 500;
    font-family: 'MuseoModerno';
}
header > button {
    background: none;
    border: none;
}
header > button > img {
    width: 40px;
}
header > input {
    display: none;
}

/* Corpo */
.wrapper_home {
    background-color: var(--verde1);
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: 
        url(../img/trilhos_bg1.png), 
        url(../img/trilhos_bg2.png); 
    background-repeat: no-repeat, no-repeat; 
    background-position: top left, bottom right;
    position: relative;
    padding: auto;
}
.wrapper_home > img{
    margin-top: auto;
    margin-bottom: 200px;
}
.wrapper_home > button {
    margin-bottom: auto;
}
.wrapper_home a {
    font-size: 20px;
    font-family: 'MuseoModerno';
}
.main-logo {
    width: 50%;
}
.locate-button {
    background-color: var(--azul1);  
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 0.3s;
}
.locate-button > a {
    color: var(--amarelo2); 
}
.locate-button:hover {
    background-color: var(--azul2); 
}

/* Rodapé */
footer {
    background-color: #303030;
    color: var(--azul1);
    width: 100%;
    bottom: 0;
}
.cols {
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
}
.footer_col1 {
    width: 30%;
    text-align: justify;
    margin-left: 0;
}
.footer_col1 img {
    display: flex;
    width: 100%;
}
.social_medias {
    display: flex;
}
.social_medias img {
    width: 80%;
}
.footer_col2  {
    width: 45%;
    text-align: justify;
}
.footer_col2 > h6 {
    text-align: center;
    font-size: 17px;
}
.copy {
    background-color: #202020;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
