/* Removendo item específico do small device */
nav .small {
    display: none;
}

/* Header */
header li div {
    font-size: 23px;
}

/* ========= HOME ========= */
/* Body */
.wrapper_home .main-logo {
    width: 40%;
}
.wrapper_home {
    background-size: 250px, 300px;
}
.wrapper_home button {
    font-size: 23px;
}
.wrapper_home button img{
    height: 22px;
}

/* Footer */
.footer_col1 {
    width: 200px;
    margin: auto;
}
.footer_col1 img {
    width: 200px;
}
.social_medias img {
    width: 30px;
}
.footer_col2 {
    width: 300px;
}
/* ========= LOGIN ========= */
.wrapper_login .logo-box {
    width: 40%;
}
.wrapper_login h1{
    font-size: 28px
}
.wrapper_login p {
    font-size: 20px;
}
.wrapper_login input, .wrapper_login .manterLogado {
    width: 450px;
    padding: 10px 10px;
}
.wrapper_login input::placeholder {
    font-size: 16px;
}
.wrapper_login button {
    font-size: 25px;
}

.wrapper_cadastro button {
    font-size: 25px;
}
/* ========= PERFIL ========= */
.wrapper_cadastro .logo-box {
    width: 40%;
}
.wrapper_cadastro h1{
    font-size: 28px
}
.wrapper_cadastro p {
    font-size: 20px;
}
.wrapper_cadastro input, .wrapper_cadastro .manterLogado {
    width: 450px;
    padding: 10px 10px;
}
.wrapper_cadastro input::placeholder {
    font-size: 16px;
}
.wrapper_cadastro button {
    font-size: 25px;
}

/* Corrigindo alinhamento do menu em largura específica */
@media (max-width: 800px){
    nav img {
        margin-right: 7px;
        transition: 0.3s;
     }
     nav li{
        margin: 7px;
        transition: 0.3s;
     }
}
@media (max-width: 720px){
    nav img {
        margin-right: 2px;
        transition: 0.3s;
     }
     nav li{
        margin: 2px;
        transition: 0.3s;
     }
     header li div{
        font-size: 20px;
    }
}
